In this notebook, I will look to demo fetching data from fbref using the python package BeautifulSoup. The aim is to be able to fetch data to be able to do analysis on how various teams on how they're doing in Europe's top five leagues. To do this we will use the FBref class to grab data for the following:
* current league table
* fixtures and results for given season
* Match stats scuh as xG, shots, goals
* Player stats for Europe's top five leagues

# Imports

In [1]:
import os
os.chdir("../")
%autosave 0

Autosave disabled

In [2]:
from src.fbref.fbref_class import FBref

# Grabbing data using BeautifulSoup

Example website we will look to scrape: https://fbref.com/en/

### Instantiate Fbref() class

In [3]:
fb = FBref()

### Define beautifulsoup object for html page of interest

The goal is to grab the table named Big 5 European Leagues as well as grabbing any hyperlinks. We will start by grabbing the html of the entire page

In [4]:
input_url = 'https://fbref.com/en/comps/9/2021-2022/2021-2022-Premier-League-Stats'

beautifulsoup_object = fb.instantiate_beautiful_soup_object(
    input_url
)

### Grab competition dictionary

In [5]:
competition_dict = fb.get_competition_dict()

In [6]:
competition_dict

{'9': 'Premier-League',
 '12': 'La-Liga',
 '11': 'Serie-A',
 '13': 'Ligue-1',
 '20': 'Bundesliga'}

### Get big five league table

In [7]:
big5_df = fb.get_big_5_leagues()

In [8]:
big5_df

,Competition Name,Gender,Country,First Season,Last Season,Tier,competition_link,competition_id
0,Premier League,M,eng ENG,1888-1889,2022-2023,1st,https://fbref.com/en/comps/9/history/Premier-L...,9
1,La Liga,M,es ESP,1988-1989,2022-2023,1st,https://fbref.com/en/comps/12/history/La-Liga-...,12
2,Ligue 1,M,fr FRA,1995-1996,2022-2023,1st,https://fbref.com/en/comps/13/history/Ligue-1-...,13
3,Fußball-Bundesliga,M,de GER,1988-1989,2022-2023,1st,https://fbref.com/en/comps/20/history/Bundesli...,20
4,Serie A,M,it ITA,1988-1989,2022-2023,1st,https://fbref.com/en/comps/11/history/Serie-A-...,11
5,Big 5 European Leagues Combined,M,,1995-1996,2022-2023,1st,https://fbref.com/en/comps/Big5/history/Big-5-...,Big5

### Get league table

Define parameters for competition_id and season_name

In [9]:
competition_id = '9'
season_name = '2022-2023'

Get league table for example season, Premier League 2022-2023

In [10]:
league_table_df = fb.get_season_stats_table('league_table', competition_id, season_name)
league_table_df.head(3)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Arsenal,14,12,1,1,33,11,+22,37,2.64,26.2,11.8,+14.3,+1.02,W D W W W,"60,135",Martin Ødegaard - 6,Aaron Ramsdale,
1,2,Manchester City,14,10,2,2,40,14,+26,32,2.29,27.6,11.2,+16.4,+1.17,L W W W L,"53,152",Erling Haaland - 18,Ederson,
2,3,Newcastle Utd,15,8,6,1,29,11,+18,30,2.00,24.3,14.3,+9.9,+0.66,W W W W W,"52,177",Miguel Almirón - 8,Nick Pope,

### Get Home and away league table

In [11]:
league_table_home_away_df = fb.get_season_stats_table('home_away_league_table', competition_id, season_name)
league_table_home_away_df.head(3)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90
0,1,Arsenal,6,6,0,0,19,7,+12,18,...,1,14,4,+10,19,2.38,10.8,7.0,+3.9,+0.48
1,2,Manchester City,8,7,0,1,30,9,+21,21,...,1,10,5,+5,11,1.83,9.5,5.8,+3.7,+0.61
2,3,Newcastle Utd,8,5,3,0,17,5,+12,18,...,1,12,6,+6,12,1.71,8.8,8.3,+0.5,+0.07

### Get fixtures and results for example league and season

In [12]:
fixtures_df = fb.get_fixtures_and_results(competition_id, season_name)

In [13]:
fixtures_df.head(5)

,Wk,Day,Date,Time,Home,xG,Score,xG,Away,Attendance,Venue,Referee,Match Report,Notes,home_id,away_id,fixture_link
0,1,Fri,2022-08-05,20:00,Crystal Palace,1.2,0–2,1.0,Arsenal,"25,286",Selhurst Park,Anthony Taylor,Match Report,,47c64c55,18bb7c10,https://fbref.com/en/matches/e62f6e78/Crystal-...
1,1,Sat,2022-08-06,12:30,Fulham,1.2,2–2,1.2,Liverpool,"22,207",Craven Cottage,Andy Madley,Match Report,,fd962109,822bd0ba,https://fbref.com/en/matches/6713c1dc/Fulham-L...
2,1,Sat,2022-08-06,15:00,Tottenham,1.5,4–1,0.5,Southampton,"61,732",Tottenham Hotspur Stadium,Andre Marriner,Match Report,,361ca564,33c895d4,https://fbref.com/en/matches/09d8a999/Tottenha...
3,1,Sat,2022-08-06,15:00,Newcastle Utd,1.7,2–0,0.3,Nott'ham Forest,"52,245",St. James' Park,Simon Hooper,Match Report,,b2b47a98,e4a775cb,https://fbref.com/en/matches/1ac96eb4/Newcastl...
4,1,Sat,2022-08-06,15:00,Leeds United,0.8,2–1,1.3,Wolves,"36,347",Elland Road,Robert Jones,Match Report,,5bfb9659,8cec06e1,https://fbref.com/en/matches/82702941/Leeds-Un...

### Get stats for a given match

Get match_url and grab id for one of the teams (will choose home team here)

Example match: Crystal Palace vs Arsenal (home side: Palace)

In [14]:
match_url = fixtures_df.fixture_link.iloc[0]
home_team_id = fixtures_df.home_id.iloc[0]

Get dictionary for stats for given match

In [15]:
stat_type_list = ['summary', 'passing', 'passing_types', 'defense', 'possession', 'misc', 'keeper', 'shots']

match_stats_dict = {}
for stat_type in stat_type_list:
    stat_df = fb.get_fixture_stats(
        fixture_url=match_url, team_id=home_team_id, stat_type=stat_type
    )
    match_stats_dict[stat_type] = stat_df

Get summary stats for Crystal Palace which contains information of goals, assists, xG etc

In [16]:
match_stats_dict['summary'].head(3)

,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,PKatt,...,npxG,xAG,SCA,GCA,Cmp,Att,Cmp%,Prog,Succ,Att
0,Odsonne Édouard,22,fr FRA,FW,24-201,57,0,0,0,0,...,0.2,0.0,1,0,3,6,50.0,0,1,2
1,Jean-Philippe Mateta,14,fr FRA,FW,25-038,33,0,0,0,0,...,0.1,0.2,0,0,8,10,80.0,0,0,0
2,Wilfried Zaha,11,ci CIV,LW,29-268,90,0,0,0,0,...,0.1,0.6,3,0,30,39,76.9,2,3,5

Get passing stats for Crystal Palace

In [17]:
match_stats_dict['passing'].head(3)

,Player,#,Nation,Pos,Age,Min,Cmp,Att,Cmp%,TotDist,...,Att,Cmp%,Ast,xAG,xA,KP,1/3,PPA,CrsPA,Prog
0,Odsonne Édouard,22,fr FRA,FW,24-201,57,3,6,50.0,34,...,0,,0,0.0,0.0,0,0,0,0,0
1,Jean-Philippe Mateta,14,fr FRA,FW,25-038,33,8,10,80.0,78,...,0,,0,0.2,0.0,1,0,0,0,0
2,Wilfried Zaha,11,ci CIV,LW,29-268,90,30,39,76.9,387,...,2,0.0,0,0.6,0.8,2,0,3,1,2

Get passing types stats for Crystal Palace

In [18]:
match_stats_dict['passing_types'].head(3)

,Player,#,Nation,Pos,Age,Min,Att,Live,Dead,FK,...,Sw,Crs,TI,CK,In,Out,Str,Cmp,Off,Blocks
0,Odsonne Édouard,22,fr FRA,FW,24-201,57,6,6,0,0,...,0,0,0,0,0,0,0,3,0,0
1,Jean-Philippe Mateta,14,fr FRA,FW,25-038,33,10,10,0,0,...,0,0,0,0,0,0,0,8,0,1
2,Wilfried Zaha,11,ci CIV,LW,29-268,90,39,39,0,0,...,0,4,0,0,0,0,0,30,0,2

Get defense stats for Crystal Palace

In [19]:
match_stats_dict['defense'].head(3)

,Player,#,Nation,Pos,Age,Min,Tkl,TklW,Def 3rd,Mid 3rd,...,Att,Tkl%,Past,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err
0,Odsonne Édouard,22,fr FRA,FW,24-201,57,0,0,0,0,...,0,,0,0,0,0,0,0,1,0
1,Jean-Philippe Mateta,14,fr FRA,FW,25-038,33,0,0,0,0,...,0,,0,0,0,0,0,0,0,0
2,Wilfried Zaha,11,ci CIV,LW,29-268,90,3,2,0,1,...,2,50.0,1,0,0,0,0,3,0,0

Get possession stats for Crystal Palace

In [20]:
match_stats_dict['possession'].head(3)

,Player,#,Nation,Pos,Age,Min,Touches,Def Pen,Def 3rd,Mid 3rd,Att 3rd,Att Pen,Live,Succ,Att,Succ%,Mis,Dis,Rec,Prog
0,Odsonne Édouard,22,fr FRA,FW,24-201,57,20,1,3,9,9,4,20,1,2,50.0,2,3,10,0
1,Jean-Philippe Mateta,14,fr FRA,FW,25-038,33,13,0,0,5,8,4,13,0,0,,1,0,10,5
2,Wilfried Zaha,11,ci CIV,LW,29-268,90,51,0,7,17,28,6,51,3,5,60.0,5,4,41,6

Get misc stats for Crystal Palace

In [21]:
match_stats_dict['misc'].head(3)

,Player,#,Nation,Pos,Age,Min,CrdY,CrdR,2CrdY,Fls,...,Crs,Int,TklW,PKwon,PKcon,OG,Recov,Won,Lost,Won%
0,Odsonne Édouard,22,fr FRA,FW,24-201,57,0,0,0,2,...,0,0,0,0,0,0,2,0,1,0.0
1,Jean-Philippe Mateta,14,fr FRA,FW,25-038,33,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0.0
2,Wilfried Zaha,11,ci CIV,LW,29-268,90,0,0,0,2,...,4,0,2,0,0,0,9,0,0,

Get keeper stats for Crystal Palace

In [22]:
match_stats_dict['keeper'].head(3)

,Player,Nation,Age,Min,SoTA,GA,Saves,Save%,PSxG,Cmp,...,Launch%,AvgLen,Att,Launch%,AvgLen,Opp,Stp,Stp%,#OPA,AvgDist
0,Vicente Guaita,es ESP,35-207,90,2,2,1,0.0,0.3,7,...,22.9,25.7,4,25.0,29.5,9,1,11.1,2,15.4

Get shots stats for Crystal Palace

In [23]:
match_stats_dict['shots'].head(3)

,Minute,Player,Squad,xG,PSxG,Outcome,Distance,Body Part,Notes,Player,Event,Player,Event
0,42,Odsonne Édouard,Crystal Palace,0.10,0.13,Saved,10,Head,,Joachim Andersen,Pass (Live),Eberechi Eze,Pass (Dead)
1,45+1,Odsonne Édouard,Crystal Palace,0.04,,Blocked,17,Right Foot,,Jordan Ayew,Pass (Live),Cheick Doucouré,Pass (Live)
2,45+1,Odsonne Édouard,Crystal Palace,0.08,,Blocked,9,Right Foot,,Odsonne Édouard,Shot,,

### Player stats from top five leagues

Get standard data table

In [24]:
big5_players_standard_df = fb.get_big5_player_stats('standard', competition_id, season_name)

In [25]:
big5_players_standard_df.head(5)

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,xG,npxG,xAG,npxG+xAG,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,22-040,2000,14,14,...,1.9,1.9,2.9,4.8,0.14,0.22,0.36,0.14,0.36,Matches
1,2,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,35-064,1987,15,15,...,1.3,1.3,0.2,1.6,0.09,0.02,0.10,0.09,0.10,Matches
2,3,Himad Abdelli,fr FRA,"MF,FW",Angers,fr Ligue 1,23-014,1999,7,2,...,0.4,0.4,0.5,0.9,0.15,0.21,0.36,0.15,0.36,Matches
3,4,Salis Abdul Samed,gh GHA,MF,Lens,fr Ligue 1,22-250,2000,15,15,...,0.3,0.3,0.4,0.7,0.02,0.02,0.05,0.02,0.05,Matches
4,5,Laurent Abergel,fr FRA,MF,Lorient,fr Ligue 1,29-303,1993,10,10,...,0.2,0.2,0.5,0.7,0.02,0.06,0.08,0.02,0.08,Matches

Get passing table

In [26]:
big5_players_passing_df = fb.get_big5_player_stats('passing', competition_id, season_name)

In [27]:
big5_players_passing_df.head(5)

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Cmp,...,Ast,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,Prog,Matches
0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,22-040,2000,13.2,334,...,2,2.9,1.4,-0.9,27,27,7,2,28,Matches
1,2,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,35-064,1987,15.0,516,...,0,0.2,0.3,-0.2,4,41,2,0,46,Matches
2,3,Himad Abdelli,fr FRA,"MF,FW",Angers,fr Ligue 1,23-014,1999,2.6,112,...,0,0.5,0.1,-0.5,6,14,4,0,15,Matches
3,4,Salis Abdul Samed,gh GHA,MF,Lens,fr Ligue 1,22-250,2000,15.0,830,...,0,0.4,0.9,-0.4,9,81,9,1,58,Matches
4,5,Laurent Abergel,fr FRA,MF,Lorient,fr Ligue 1,29-303,1993,9.0,339,...,1,0.5,0.5,+0.5,7,33,2,0,27,Matches

# Conclusion

This notebook successfully fetches data from FBref for fixtures, match stats and player stats. This data will now need to be cleaned and put into the right format to enable various analysis and modelling with this data. 

Possible next steps:
* Team analysis for the current season
* Categorise teams into play style
* Use data from fbref to predict football outcomes